on:
  push:
    branches:
    - master
  pull_request:

name: test

jobs:
  test:
    name: Run tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Set default toolchain
        run: rustup default nightly
      - name: Set profile
        run: rustup set profile minimal
      - name: Run cargo test
        run: cargo test -- --nocapture
